@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --colors-fancy: #0582CA;
  --timings-default: 0.25s;
  --eases-default: ease-in-out;
}

body[data-theme="light"] {
  --colors-background: #fff;
  --colors-text: #222;
  
}

body[data-theme="dark"] {
  --colors-background: rgb(33, 33, 34);
  --colors-text: rgb(199, 199, 199);
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  background-color: var(--colors-background);
  color: var(--colors-text);
  height: 100%;
  transition: background-color var(--timings-default) var(--eases-default), color var(--timings-default) var(--eases-default);
}



#__next {
  height: 100%;
}

a {
  color: var(--colors-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: var(--colors-text);
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
